.filters {
    padding: 40px 0;
    border-bottom: 1px solid #808080;
}

.staff-info td {
    vertical-align: middle;    
}

.rota-date{
    text-align: center;
}

.disabled, .errors {
    display: none;
}